<div class="m-4 p-5" style="background-color: #eaeaea; height: 40em;">
    <h1 class="display-3 mb-5" style="text-align: center; color: blue;">
        <strong>Ingrese Producto</strong>
    </h1>
    {{> formulario }}
    <div class="m-5 d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-danger" href="/productos">Ver productos</a>
    </div>
</div>