<div class="m-4 p-5" style="background-color: #eaeaea; height: 40em;">
    <h1 class="display-3 mb-5" style="text-align: center; color: blue">
        <strong>Vista de Productos</strong>
    </h1>
    {{#if products}}
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{price}}</td>                          
                        <td>
                            <img src="{{thumbnail}}" width="50em" height="50em">
                        </td>                          
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-warning" role="alert">
            <strong>No se encontraron productos</strong>
        </div>
    {{/if}}
    <div class="d-grid gap-2 col-2 mx-auto">
        <a class="btn btn-danger" href="/">Cargar producto</a>
    </div>   
</div>
